################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DemoEmotionApi/EmotionApiDemo/obj/Debug
/DemoEmotionApi/packages
/Isra.Mov.Libs
/DemoEmotionApi
